#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.game-board {
  display: flex;
}
.board{
  margin: 20px;
}
.square{
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
* {
  box-sizing: border-box;
}
.game {
  display: flex;
  flex-direction: row;
}
ul {
  padding-inline-start: 20px;
}
.game-info {
  margin-left: 20px;
}